.landing{
    height: calc(var(--vh, 1vh) * 100 - 70px);
    @include media(">=tablet") {
        height: calc(100vh - 100px);
    };
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    .background{
        position: relative;
        height: 100vw;
        @include media(">=tablet") {
            height: 100%;
        };
        width: 100%;
        overflow: hidden;
        .shape{
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .circle{
                width: 100%;
                height: calc(100vw - 3rem);
                border: 1px solid white;
                border-radius: 100%;
            }
        }
        .landing-img{
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%;
            .scroll{
                display: flex;
                justify-content: center;
                width: 100%;
                position: absolute;
                bottom: 1rem;
                font-size: 1.4rem;
                font-weight: 500;
            }
            .gradient{
                position: absolute;
                top: 0;
                opacity: 1;
                background: rgb(15,25,32);
                background: radial-gradient(circle,
                    rgba(15,25,32,1) 0%,
                    rgba(15,25,34,0) 65%);
                height: 250%;
                width: 200%;
                transform: translateX(-25%);
            }
            .dark{
                position: absolute;
                top: 0;
                background-color: $primary;
                opacity: .04;
                height: 100%;
                width: 100%;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .footy{
        @include media(">=tablet") {
            position: absolute;
            bottom: 0;
        };
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .bgc{
            background-color: $warning;
        }
        .arrow{
            position: relative;
            bottom: 1.5rem;
            margin-left: auto;
        }
    }
}