.social{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem 0;

    @include media(">=tablet") {
        position: absolute;
        top: 100px;
        height: calc(100vh - 100px);
        width: 100%;
    };

    @include media(">=desktop") {
        flex-direction: row-reverse;
    };

    .social-box{
        @include media(">=tablet") {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 13.8rem;
        }
        @include media(">=desktop") {
            margin-top: 1.5rem;
        }
        a{
            display: inline-block;
            text-decoration: none;
            color: $pale;
            @include media(">=tablet") {
                height: 2.6rem;
                width: 2.6rem;
                margin-right: 2rem;
                margin-bottom: 2rem;
                .social-icon{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}